.chart {display: inline-block; max-height: 20px;}

.chart img {max-width: 100%; height:auto;}

.iro {
    background: rgba(166, 196, 249, 0.3) /* Green background with 30% opacity */
  }

.feature-image {
    height:50px; 
   }

.feature-image2 {
    height:32px; 
    }

.feature-image3 {
    height:30px; 
    }

   div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  #detail_button {
    white-space: pre;
}

.demoAlert-bottom{
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 95%;
}

div.fullscreen {
    position: absolute;
    width:100%; 
    min-height:740px; 
    top: 0; 
    left: 0; 
  }
